<% content_for :title, "Account locked" %>
<% content_for :thin_form, true %>
<% content_for :suppress_navbar_items, true %>

<div class="page-title">
  <h1>Account locked</h1>
</div>

<div class="callout callout-danger">
  <p class="lead">
    Your account has been locked because the wrong sign on details were entered too many times.
  </p>
  <p>Your account will be unlocked after 1 hour.</p>
  <p>If you need your account unlocked sooner, please contact a managing GOV.UK editor in your organisation (or your parent organisation). They can either unlock your account themselves or use the support form to get help from the GOV.UK team.</p>
</div>
