<li class="govuk-pagination__item <%= "govuk-pagination__item--current" if page.current? %>">
  <a class="govuk-link govuk-pagination__link" href="<%= url %>" aria-label="Page <%= page %>"><%= page %></a>
</li>
