<% content_for :title_caption, "Manage API users" %>
<% content_for :title, "#{@api_user.name}'s applications" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "API users",
         url: api_users_path,
       },
       {
         title: @api_user.name,
         url: edit_api_user_path(@api_user),
       }
     ]
   })
%>

<% if flash[:application_id] %>
  <% content_for(:custom_alerts) do %>
    <%= render "govuk_publishing_components/components/success_alert", {
        message: "Permissions updated",
        description: message_for_success(flash[:application_id], @api_user),
    } %>
  <% end %>
<% end %>

<div class="govuk-table--with-actions">
<%= render "components/table", {
    caption: "Apps #{@api_user.name} has access to",
    head: [
      { text: "Name", classes: "govuk-!-width-one-quarter" },
      { text: "Description", classes: "govuk-!-width-one-third" },
      { text: content_tag(:span, "Actions", class: "govuk-visually-hidden") },
    ],
    rows: @applications.map do |application|
    [
      { text: application.name },
      { text: application.description },
      { text: update_permissions_link(application, @api_user) }
    ]
    end,
} %>
</div>
