<% content_for :title, "My permissions for #{@application.name}" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "GOV.UK apps",
         url: account_applications_path,
       },
       {
         title: "My permissions for #{@application.name}",
       },
     ]
   })
%>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">Has this permission?</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @permissions.each do |permission| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= permission.name %></td>
        <td class="govuk-table__cell">
          <% if current_user.has_permission?(permission) %>
            <strong class="govuk-tag govuk-tag--green">
              Yes
            </strong>
          <% else %>
            <strong class="govuk-tag govuk-tag--grey">
              No
            </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
