<h1 class="text-center add-big-bottom-margin">Sign in without your phone</h1>
<div class="panel panel-default" style="margin: 0 auto; max-width: 600px">
  <div class="panel-body">
    <p class="lead remove-bottom-margin">To sign in to your account without your phone you need to request a recovery code. This code will be emailed to you and can be used only once.</p>
    <!--<p class="lead remove-bottom-margin">If your phone has been lost or stolen, or your verification app is permanently unavailable you must set up 2-step verification on a new device.</p>-->
  </div>
  <div class="panel-footer">
    <a href="/recover-account" class="btn btn-success btn-lg btn-block">Send recovery code</a>
  </div>
</div>
<div style="height: 400px"></div>
