<div style="margin: 0 auto; max-width: 600px">
  <p class="alert alert-success">A recovery code has been emailed to you.</p>
</div>

<h1 class="text-center add-big-bottom-margin">Sign in with recovery code</h1>
<div class="panel panel-default" style="margin: 0 auto; max-width: 600px">
  <div class="panel-body">
    <label>Recovery code in your email</label>
    <input type="text" class="form-control input-md-4 input-lg add-bottom-margin" placeholder="Enter code"/>

    <a href="#">Send a new code</a>
  </div>
  <div class="panel-footer">
    <a href="/recover-account" class="btn btn-success btn-lg btn-block">Sign in</a>
  </div>
</div>
<div style="height: 400px"></div>
