<div style="margin: 0 auto; max-width: 600px">
  <p class="alert alert-success">A recovery code has been emailed to you.</p>
</div>

<h1 class="text-center add-big-bottom-margin">Recover your account</h1>
<div class="panel panel-default" style="margin: 0 auto; max-width: 600px">
  <div class="panel-body">
    <label class="remove-bottom-margin">Recovery code</label>
    <p class="text-muted">Use the one-time code sent to your email address to sign in.</p>
    <input type="text" class="form-control input-md-4 input-lg add-bottom-margin" placeholder="Enter 6 digit code"/>
  </div>
  <div class="panel-footer">
    <a href="/recover-account" class="btn btn-success btn-lg btn-block">Recover account</a>
  </div>
</div>
<div style="height: 400px"></div>
