<p>Hello <%= @user.name %>,

<p>GOV.UK Signon accounts are suspended after <%= User::SUSPENSION_THRESHOLD_PERIOD.inspect %> of inactivity.</p>

<p>Your <%= account_name %> has now been suspended and you will not be able to access any GOV.UK applications.</p>

<p>You'll need to request for your account to be unsuspended.</p>
