<p>Hello <%= @user.name %>,

<p>GOV.UK Signon accounts are suspended after <%= User::SUSPENSION_THRESHOLD_PERIOD.inspect %> of inactivity.</p>

<p>Your <%= account_name %> has now been suspended and you won’t be able to access any GOV.UK applications.</p>

<p>You must ask for your account to be unsuspended.</p>

<p>Read our blog post about <%= link_to 'suspending unused GOV.UK accounts', 'https://insidegovuk.blog.gov.uk/2014/08/21/suspending-unused-gov-uk-accounts' %>.</p>
