<p>Hello <%= @user.name %>,</p>

<p>You’ve successfully set up a new phone to use for 2-step verification.
You’ll only be able to sign in with your new phone.</p>

<p>If you didn’t make this change, please contact GOV.UK. If you can’t do this
yourself, please contact a managing GOV.UK editor in your organisation (or your
parent organisation). They can raise a support ticket on your behalf.</p>

<p><%= link_to 'GOV.UK', "https://www.gov.uk" %> team</p>
<p>Government Digital Service</p>
