<table>
  <tbody>
    <tr>
      <th></th>
      <% calendars.each do |year,c| -%>
        <th><%= c.year%></th>
      <% end -%>
    </tr>
    <tr>
      <th scope="row">Clocks go back</th>
      <% calendars.each do |year,c| -%>
        <td><%= c.events[0].date.strftime('%d %B') %></td>
      <% end -%>
    </tr>
    <tr>
      <th scope="row">Clocks go forward</th>
      <% calendars.each do |year,c| -%>
        <td><%= c.events[1].date.strftime('%d %B') %></td>
      <% end -%>
    </tr>
  </tbody>
</table>

<div class="subscribe">
  <h3>Add dates to your calendar</h3>
  <p><%= link_to ics_caption, ics_link %></p>
</div>
