<% content_for :title, "UK Bank Holidays" %>
<% content_for :wrapper_class, "wrapper" %>

<section id="content" role="main" class="group">

  <header class="page-header group">
    <hgroup>
      <h1><span>Calendars</span> UK Bank Holidays</h1>
    </hgroup>
  </header>

  <div class="article-container group">

    <article role="article" class="group">
      <div class="inner">

        <div class="summary">
          <p>Bank holidays are public holidays when banks and businesses close for the day.</p>
        </div>

        <p>Your employer doesn&rsquo;t have to give you time off but most employers do.</p>

        <p>More information about <a href="/holidays-from-work">holidays from work</a>.</p>

        <div id="guide-nav" class="group">

          <div id="tabs">
            <ul>
              <li><a href="#england-and-wales" class="england-and-wales">England and Wales</a></li>
              <li><a href="#scotland" class="scotland">Scotland</a></li>
              <li><a href="#ni" class="ni">Northern Ireland</a></li>
            </ul>
          </div>

          <% @divisions.each do |division, item| -%>

            <div id="<%= division %>">

              <% item[:calendars].each do |year, c| -%>

                <%= render :partial => 'calendar', :locals => {
                  :calendar => c,
                  :caption => "#{c.year} Bank Holidays in #{c.formatted_division}",
                  :ics_caption => "Bank Holidays for #{c.year} in #{c.formatted_division}" } %>

                <% end -%>

              </div><!-- /england-and-wales -->

            <% end -%>

          </div>
        </div>
      </article>

      <div class="meta-data">
        <p class="modified-date">Last updated: time</p>
        <p>Re-use this data:</p>
        <ul class="api-links">
          <li class="json"><%= link_to 'JSON', calendars_url('bank-holidays', :format => :json)%></li>
        </ul>
      </div>

    </div>
  </section>

  <!-- related -->
  <div class="related-positioning">
    <div class="related-container">

      <div class="related">
        <div class="inner group">
          <h2>Related tools &amp; topics</h2>
          <nav role="navigation">
            <ul>
              <li><a href="#">Related answer</a></li>
              <li><a href="#">Related guide</a></li>
              <li class="related-topic"><a href="#">View more in <span>section &rarr;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
  <!-- end related -->

  <%= javascript_include_tag '/javascripts/publisher-tabs.js', :defer=>"defer" %>
