<section id="content" role="main" class="group">

  <header class="group">
      <hgroup>
        <h1><span>Quick answer </span>When do the clocks change?</h1>
      </hgroup>
  </header>
	<div class="article-container group">
	  	<article role="article" class="group">
	     <div class="inner">
	      <p>In the UK, the clocks go forward one hour on the last Sunday in March.  They go back one hour on the last Sunday in October.</p>
	      <p>The period of time between March and October, when the clocks change to be an hour ahead, is referred to as British Summer Time (BST).  When not in British Summer Time, the UK is in Greenwich Mean Time (GMT).</p>
	                                                                            
		<%= render :partial => 'clocks_calendar', :locals => { 
			:calendars => @divisions['united-kingdom'][:calendars], 
			:ics_caption => "Daylight Savings Time in the United Kingdom",
			:ics_link => division_url(params[:scope], 'united-kingdom', :format => 'ics') } %>                                      
			
         <p>The clocks <strong>go back</strong> at <strong>1am GMT</strong>, to become 2am BST, on the last Sunday of March.</p>
         <p>The clocks <strong>go forward</strong> at <strong>2am BST</strong>, to become 1am GMT, on the last Sunday of October.</p>
         
 	       <!-- inner -->
	     </div>
	   </article>
		<div class="meta-data">
				<p class="modified-date">Last updated: <!-- date --></p>
	      <p>Re-use this data:</p>
			<ul class="api-links">
	        <li class="json"><a href="#">JSON</a></li>
	      </ul>
			</div>
	</div>
</section>

<!-- related -->
<div class="related-positioning">
	<div class="related-container">

		<div class="related">
			<div class="inner group">
				<h2>Related tools &amp; topics</h2>
				<nav role="navigation">
				  <ul>
				    <li class="related-topic"><a href="#">View more in <span>section</span></a></li>
				    
				  </ul>
				</nav>
	   </div>
	 </div>

	</div>
</div>
<!-- end related -->