<div class="govuk-body">
  <p>Make your account more secure by setting up 2&#8209;step verification. You’ll need to install an app on your phone which will generate a security code to enter when you sign in.</p>
  <p>Set up takes about 5 minutes.</p>
</div>

<%= render "govuk_publishing_components/components/button", {
  text: "Start set up",
  href: two_step_verification_path
} %>
