<% content_for :title, "Setup 2-step verification?" %>
<% content_for :thin_form, true %>
<% content_for :suppress_navbar_items, true %>

<div class="page-title">
  <h1>Setup 2-step verification?</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Two step verification adds another layer of security to your account. You'll need to use an app on your phone to enter a security code before you can sign in.</p>
    <p>Setup takes about five minutes.</p>
  </div>
  <div class="panel-footer">
    <%= link_to 'Setup now', new_two_step_verification_path, class: 'btn btn-success btn-lg' %>
    <%= button_to 'Continue and setup later', defer_two_step_verification_path, class: 'btn btn-default btn-lg pull-right' %>
  </div>
</div>
