<% content_for :title, "Make your account more secure" %>
<% content_for :suppress_navbar_items, true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "make_your_account_more_secure" %>
  </div>
</div>
