<% content_for :title, "Organisations" %>
<h1 class="page-title">Organisations</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr class="table-header">
      <th>Name</th>
      <th>Abbreviation</th>
      <th>Organisation Type</th>
      <th>Slug</th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= organisation.abbreviation %></td>
        <td><%= organisation.organisation_type %></td>
        <td><%= organisation.slug %></td>
      </tr>
    <% end %>
  </tbody>
</table>
