<% content_for :title_caption, "Manage other users" %>
<% content_for :title, "Resend signup email for #{@user.name}" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
         url: users_path,
       },
       {
         title: @user.name,
         url: edit_user_path(@user),
       }
     ]
   })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @user, url: user_invitation_resend_path(@user) do %>
      <%= render "govuk_publishing_components/components/hint", {
        text: "This user has not activated their account. You can send a new invitation email."
      } %>

      <div class="govuk-button-group">
        <%= render "govuk_publishing_components/components/button", {
          text: "Resend signup email",
        } %>
        <%= link_to "Cancel", edit_user_path(@user), class: "govuk-link govuk-link--no-visited-state" %>
      </div>
    <% end %>
  </div>
</div>
