<% content_for :title, "GOV.UK apps" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "GOV.UK apps",
       }
     ]
   })
%>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Apps you have access to</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @applications_with_signin.each do |application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= application.name %></td>
        <td class="govuk-table__cell"><%= application.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="govuk-heading-m" id="other-apps-table-heading">Apps you don't have access to</h2>

<table class="govuk-table" aria-labelledby="other-apps-table-heading">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @applications_without_signin.each do |application| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= application.name %></td>
        <td class="govuk-table__cell"><%= application.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
