<% content_for :title, "GOV.UK apps" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Settings",
         url: account_path,
       }
     ]
   })
%>

<% if flash[:success_alert] %>
  <% content_for(:custom_alerts) do %>
    <%= render "govuk_publishing_components/components/success_alert", {
        message: flash[:success_alert]["message"],
        description: sanitize(flash[:success_alert]["description"]),
    } %>
  <% end %>
<% end %>

<%= render "components/table", {
    caption: "Apps you have access to",
    head: [
      { text: "Name", classes: "govuk-!-width-one-quarter" },
      { text: "Description", classes: "govuk-!-width-one-half" },
      { text: "Access" },
      { text: "Permissions" }
    ],
    rows: @applications_with_signin.map do |application|
    [
      { text: application.name },
      { text: application.description },
      { text: account_applications_remove_access_link(application) },
      { text: account_applications_permissions_links(application), classes: "applications-table__permissions-action-links" }
    ]
    end,
    vertical_on_small_screen: true,
} %>

<div class="govuk-table--with-actions">
<%= render "components/table", {
    caption: "Apps you don't have access to",
    head: [
      { text: "Name", classes: "govuk-!-width-one-quarter" },
      { text: "Description", classes: "govuk-!-width-one-half" },
      { text: "Access" }
    ],
    rows: @applications_without_signin.map do |application|
    [
      { text: application.name },
      { text: application.description },
      { text: account_applications_grant_access_link(application) }
    ]
    end,
    vertical_on_small_screen: true,
} %>
</div>
