<h2>Choose a new passphrase</h2>

<div class="well">
  <%= form_for(resource, :as => resource_name, :url => [resource_name, :password_expired], :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <%= render partial: "devise/passwords/change_password_panel", locals: { f: f, user: resource, updating_password: true } %>

    <div><%= f.submit "Change my passphrase", class: "btn btn-primary" %></div>
  <% end %>
</div>
