<% content_for :title_caption, "Manage other users" %>
<% content_for :title, "#{@user.name}'s applications" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
         url: users_path,
       },
       {
         title: @user.name,
         url: edit_user_path(@user),
       }
     ]
   })
%>

<% if flash[:application_id] %>
  <% content_for(:custom_alerts) do %>
    <%= render "govuk_publishing_components/components/success_alert", {
        message: "Permissions updated",
        description: message_for_success(flash[:application_id], @user),
    } %>
  <% end %>
<% end %>

<div class="govuk-table--with-actions">
<%= render "components/table", {
    caption: "Apps #{@user.name} has access to",
    head: [
      { text: "Name" },
      { text: "Description" },
      { text: content_tag(:span, "Actions", class: "govuk-visually-hidden") },
    ],
    rows: @applications_with_signin.map do |application|
    [
      { text: application.name },
      { text: application.description },
      { text: safe_join([users_applications_permissions_link(application, @user), users_applications_remove_access_link(application, @user)]) },
    ]
    end,
} %>
</div>

<div class="govuk-table--with-actions">
<%= render "components/table", {
    caption: "Apps #{@user.name} does not have access to",
    head: [
      { text: "Name" },
      { text: "Description" },
      { text: content_tag(:span, "Actions", class: "govuk-visually-hidden") }
    ],
    rows: @applications_without_signin.map do |application|
    [
      { text: application.name },
      { text: application.description },
      { text: users_applications_grant_access_link(application, @user) }
    ]
    end,
} %>
</div>
