<table id="all-permissions" class="table table-bordered table-striped table-on-white">
  <thead>
    <tr class="table-header">
      <th>Application</th>
      <% if user_object.web_user? %>
          <th>Has access?</th>
      <% end %>
      <th><%= "Other" if user_object.web_user? %> Permissions</th>
    </tr>
  </thead>
  <tbody>
    <% @application_permissions.each do |application, permissions|
      permission_names = permissions.map(&:name)
    %>
      <tr>
        <td>
          <%= application.name %>
        </td>
        <% if user_object.web_user? %>
          <td>
            <%= permission_names.include?(SupportedPermission::SIGNIN_NAME) ? 'Yes' : 'No' %>
          </td>
        <% end %>
        <td>
          <%= permission_names.reject{|p| p == SupportedPermission::SIGNIN_NAME}.to_sentence %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
