<div id="password-guidance">
  <p>Your password should be easy to remember and can be as long as you like. You can't use part or all of your email address in your password.</p>

  <p>Good passwords include:</p>
  <ul>
    <li>punctuation, eg spaces or exclamation marks</li>
    <li>4 or more random words</li>
    <li>a mixture of at least 10 letters, numbers and symbols</li>
  </ul>

  <p>Bad passwords include:</p>
  <ul>
    <li>sequential numbers</li>
    <li>people's names</li>
    <li>birthdays</li>
  </ul>
</div>
