<% content_for :title_caption, "Manage other users" %>
<% content_for :title, "Edit #{@user.name}" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
         url: users_path,
       },
       {
         title: "Edit #{@user.name}",
       }
     ]
   })
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section>
      <%= render "govuk_publishing_components/components/summary_list", {
        title: "User details",
        heading_level: 2,
        heading_size: "l",
        items: [
          summary_list_item_for_name(@user),
          summary_list_item_for_email(@user),
          summary_list_item_for_organisation(@user),
          summary_list_item_for_role(@user),
          summary_list_item_for_status(@user),
          summary_list_item_for_2sv_status(@user),
        ]
      } %>
    </section>
    <section>
      <%= render "govuk_publishing_components/components/heading", {
        text: "Actions",
        font_size: "l",
        padding: true,
      } %>
      <%= render "govuk_publishing_components/components/list", {
        items: [
          link_to_access_log(@user),
          link_to_resend_invitation(@user),
          link_to_unlock(@user),
          link_to_suspension(@user),
          link_to_reset_2sv(@user),
          link_to_2sv_exemption(@user),
          link_to_mandate_2sv(@user),
        ].compact
      } %>
    </section>
    <section>
      <%= render "govuk_publishing_components/components/button", {
        text: "Manage permissions",
        href: user_applications_path(@user)
      } %>
    </section>
  </div>
</div>
