<% if resource.errors.count > 0 %>
  <div class="alert alert-danger">
    <h3 class="add-bottom-margin remove-top-margin">There was a problem changing your passphrase</h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <li <%= analytics_attributes_alert_danger(message) %>>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
