<% if resource.errors.count > 0 %>
  <div class="govuk-error-summary alert alert-danger" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There was a problem changing your password
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% resource.errors.full_messages.each do |message| %>
          <%= content_tag :li, message, data: track_analytics_data(:danger, message) %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
