<div id="password-change-panel">
  <% if defined?(updating_password) && updating_password %>
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Current password"
      },
      name: "user[current_password]",
      id: "user_current_password",
      type: "password"
    } %>
  <% end %>

  <div id="password-control-group">
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "New password"
      },
      hint: "Passwords must be at least 10 characters, shouldn’t include part of your email address and must be complex. Consider using whole sentences (with spaces), lyrics or phrases to make your password more memorable.",
      name: "user[password]",
      id: "user_password",
      type: "password",
      data: {
        'weak-words': user_email_tokens(user).join(","),
        'min-password-length': minimum_password_length
      }
    } %>
    <div class="govuk-error-message app-error-message--validation" id="password-guidance">
      <p id="password-too-short">Your password must be at least 10 characters</p>
      <p id="parts-of-email">Your password shouldn’t include part or all of your email address</p>
      <p id="password-entropy">Your password must be more complex</p>
    </div>

  </div>

  <div id="password-confirmation-control-group">
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Confirm new password"
      },
      name: "user[password_confirmation]",
      id: "user_password_confirmation",
      type: "password",
    } %>
    <div class="govuk-error-message app-error-message--validation" id="password-confirmation-guidance">
      <p>The confirmation must match the new password</p>
    </div>

  </div>

  <%= render "govuk_publishing_components/components/button", {
    text: t("users.edit.change"),
    margin_bottom: true
  } %>
