<% if resource.errors.count > 0 %>
  <div class="alert alert-danger">
    <h3 class="add-bottom-margin remove-top-margin">There was a problem changing your passphrase</h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <%= content_tag :li, message, data: track_analytics_data(:danger, message) %>
      <% end %>
    </ul>
  </div>
<% end %>
