<div data-module="password-strength-indicator">
  <% if defined?(updating_password) && updating_password %>
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Current password"
      },
      name: "user[current_password]",
      type: "password",
      autocomplete: "current-password"
    } %>
  <% end %>

  <div class="password-control-group">
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "New password"
      },
      hint: "Passwords must be at least 10 characters, shouldn’t include part of your email address and must be complex. Consider using whole sentences (with spaces), lyrics or phrases to make your password more memorable.",
      name: "user[password]",
      type: "password",
      autocomplete: "new-password",
      data: {
        'email-parts': user_email_tokens(user).join(","),
        'min-password-length': minimum_password_length
      }
    } %>
  </div>

  <div class="password-confirmation-control-group">
    <%= render "govuk_publishing_components/components/input", {
      label: {
        text: "Confirm new password"
      },
      name: "user[password_confirmation]",
      type: "password",
      autocomplete: "new-password"
    } %>
  </div>

  <%= render "govuk_publishing_components/components/button", {
    text: t("users.edit.change"),
    margin_bottom: true
  } %>
</div>
