<% content_for :title, "Sorry, this link doesn't work" %>
<% content_for :back_link, new_session_path(resource_name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      This link to set a new password doesn't work. It may be that the link you
      were using has expired or was invalid.
    </p>

    <%= render "govuk_publishing_components/components/button", {
      text: "Try again",
      href: new_user_password_path
    } %>
  </div>
</div>
