<% content_for :title, "Passphrase reset" %>

<h1>Passphrase reset</h1>

<p>That passphrase reset didn't work. It may be that the link you were using has expired or was invalid.</p>

<p><%= link_to 'Try again', new_user_password_path %></p>
