<% content_for :title, "Permissions for #{@application.name}" %>
<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Applications",
         url: doorkeeper_applications_path,
       },
       {
         title: @application.name,
         url: edit_doorkeeper_application_path(@application),
       }
     ]
   })
%>

<div class="govuk-form-group">
  <%= render "govuk_publishing_components/components/button", {
    text: "Add permission",
    href: new_doorkeeper_application_supported_permission_path
  } %>
</div>

<%= render "components/table", {
  caption: "Permissions for #{@application.name}",
  caption_classes: "govuk-visually-hidden",
  head: [
    {
      text: "Permission name"
    },
    {
      text: "Created",
    },
    {
      text: "Can be delegated?",
    },
    {
      text: "Is a default permission given to all new users?",
    },
    {
      text: "Actions",
    },
  ],
  rows: @supported_permissions.map do |supported_permission|
    [
      {
        text: supported_permission.name,
      },
      {
        text: supported_permission.created_at.to_date.to_fs(:govuk_date),
      },
      {
        text: supported_permission.delegatable? ? 'Yes' : 'No',
      },
      {
        text: supported_permission.default? ? 'Yes' : 'No',
      },
      {
        text: link_to('Edit', edit_doorkeeper_application_supported_permission_path(@application, supported_permission)) + (link_to("Delete", confirm_destroy_doorkeeper_application_supported_permission_path(@application, supported_permission), class: "govuk-link gem-link--destructive govuk-!-margin-left-2")),
      },
    ]
  end,
} %>
