<% content_for :title, "Permissions for #{@application.name}" %>
<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Applications",
         url: doorkeeper_applications_path,
       },
       {
         title: @application.name,
         url: edit_doorkeeper_application_path(@application),
       }
     ]
   })
%>

<div class="govuk-form-group">
  <%= render "govuk_publishing_components/components/button", {
    text: "Add permission",
    href: new_doorkeeper_application_supported_permission_path
  } %>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/details", {
      title: "What is a 'delegated' permission?"
    } do %>
      <p class="govuk-body">
        'Delegating' and 'granting' permissions are separate but related
        concepts. Permissions are 'granted' to individual users, while they are
        'delegated' as grantable by publishing managers.
      </p>
      <p class="govuk-body">
        When a permission is delegated, then, publishing managers have the
        authority to grant the permission to users they manage. When the
        'signin' permission is delegated, publishing managers can grant or
        remove access to the given application.
      </p>
      <p class="govuk-body">
        You can read more about this in the
        <a
          class="govuk-link"
          href="https://docs.publishing.service.gov.uk/repos/signon/access_and_permissions.html"
          >access and permissions developer documentation</a
        >.
      </p>
    <% end %>
  </div>
</div>

<%= render "components/table", {
  caption: "Permissions for #{@application.name}",
  caption_classes: "govuk-visually-hidden",
  head: [
    {
      text: "Permission name"
    },
    {
      text: "Created",
    },
    {
      text: "Delegated",
    },
    {
      text: "Is a default permission given to all new users?",
    },
    {
      text: "Actions",
    },
  ],
  rows: @supported_permissions.map do |supported_permission|
    [
      {
        text: supported_permission.name,
      },
      {
        text: supported_permission.created_at.to_date.to_fs(:govuk_date),
      },
      {
        text: supported_permission.delegated? ? 'Yes' : 'No',
      },
      {
        text: supported_permission.default? ? 'Yes' : 'No',
      },
      {
        text: link_to('Edit', edit_doorkeeper_application_supported_permission_path(@application, supported_permission), class: "govuk-link") + (link_to("Delete", confirm_destroy_doorkeeper_application_supported_permission_path(@application, supported_permission), class: "govuk-link gem-link--destructive govuk-!-margin-left-2")),
      },
    ]
  end,
} %>
