<% content_for :title, "API users" %>

<div class="govuk-form-group">
  <%= render "govuk_publishing_components/components/button", {
    text: "Create API user",
    href: new_api_user_path
  } %>
</div>

<%= render "components/table", {
  caption: "API users",
  caption_classes: "govuk-visually-hidden",
  filterable: true,
  vertical_on_small_screen: true,
  label: "Filter API users",
  head: [
    {
      text: "Name"
    },
    {
      text: "Email",
    },
    {
      text: "Apps",
    },
    {
      text: "Status",
    },
  ],
  rows: @api_users.map do |user|
    [
      {
        text: api_user_name(user)
      },
      {
        text: user.email,
      },
      {
        text: application_list(user),
      },
      {
        text: user.suspended? ? govuk_tag("Suspended", "govuk-tag--grey") : govuk_tag("Active", "govuk-tag--green"),
      },
    ]
  end,
} %>
