<% content_for :title, "API users" %>

<div class="govuk-form-group">
  <%= render "govuk_publishing_components/components/button", {
    text: "Create API user",
    href: new_api_user_path
  } %>
</div>

<%= render "govuk_publishing_components/components/table", {
  caption: "API users",
  caption_classes: "govuk-visually-hidden",
  filterable: true,
  label: "Filter API users",
  head: [
    {
      text: "Name"
    },
    {
      text: "Email",
    },
    {
      text: "Apps",
    },
    {
      text: "Role",
    },
    {
      text: "Sign‑ins",
      format: "numeric"
    },
    {
      text: "Created",
    },
    {
      text: "Suspended?",
    },
  ],
  rows: @api_users.map do |user|
    [
      {
        text: api_user_name(user)
      },
      {
        text: user.email,
      },
      {
        text: permissions_by_application(user),
      },
      {
        text: user.role.humanize,
      },
      {
        text: user.sign_in_count,
        format: "numeric"
      },
      {
        text: "#{time_ago_in_words(user.created_at)} ago",
      },
      {
        text: user.suspended? ? "Yes" : "No",
      },
    ]
  end,
} %>
