<% content_for :title, "Set your password" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
      <%= f.hidden_field :invitation_token %>
      <%= render partial: "devise/passwords/change_password_errors" %>
      <%= render partial: "devise/passwords/change_password_panel", locals: { f: f, user: resource, submit_text: t("users.edit.set_password") } %>
    <% end %>
  </div>
</div>
