<% content_for :title, "Set your password" %>

<% if resource.errors.count > 0 %>
  <% content_for :error_summary do %>
    <%= render "govuk_publishing_components/components/error_summary", {
      title: "There was a problem setting your password",
      items: resource.errors.map do |error|
        {
          text: error.full_message,
          href: "#user_#{error.attribute}",
        }
      end,
    } %>
  <% end %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
      <%= f.hidden_field :invitation_token %>
      <%= render partial: "devise/passwords/change_password_panel", locals: { f: f, user: resource, submit_text: t("users.edit.set_password") } %>
    <% end %>
  </div>
</div>
