<% content_for :title, "Create new user" %>

<h1>Create new user</h1>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => 'well'} do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render partial: "users/form_fields", locals: { f: f } %>

  <%= f.submit "Create user and send email", :class => 'btn btn-success' %>
<% end %>
