<h2>Create new user</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <%= render partial: "admin/users/form_fields", locals: { f: f } %>
  
  <p><%= f.submit "Create user and send email" %></p>
<% end %>
