<% content_for :title, "2-step verification" %>
<% content_for :suppress_navbar_items, true %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-one-half">
    <%= form_tag(two_step_verification_session_path, method: :post) do %>
      <%= two_factor_code_input(autofocus: true, tabindex: 0) %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Sign in"
      } %>
    <% end %>
  </div>
</div>

<%= render "govuk_publishing_components/components/details", {
  title: "If you’re having problems"
} do %>
  <p>If you’re having problems with 2-step verification, see <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/introduction-and-access-to-whitehall-publisher#issues-with-2-step-verification-2sv" class="govuk-link">the troubleshooting guidance</a>.</p>
<% end %>
