<% content_for :title, "2-step verification" %>
<% content_for :thin_form, true %>
<% content_for :suppress_navbar_items, true %>

<div class="page-title">
  <h1>Sign in</h1>
</div>

<%= form_tag(two_step_verification_session_path, :method => :post) do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">2-step verification</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= label_tag :code, 'Verification code' %>
        <p class="text-muted" id="code-hint">Use the verification app on your phone to get your code.<br />You won’t need to do this again for 30 days.</p>
        <%= text_field_tag :code, nil,
          class: 'form-control input-md-4 input-lg',
          placeholder: 'Enter 6-digit code',
          tabindex: 1,
          autofocus: 'autofocus',
          autocomplete: 'off',
          'aria-describedby': 'code-hint' %>
      </div>
    </div>
    <div class="panel-footer">
      <%= submit_tag "Sign in", tabindex: 2, class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
<% end %>
