<% content_for :title, "2-step verification" %>
<% content_for :suppress_navbar_items, true %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-one-half">
    <%= form_tag(two_step_verification_session_path, method: :post) do %>
      <%= two_factor_code_input(autofocus: true, tabindex: 0) %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Sign in"
      } %>
    <% end %>
  </div>
</div>

<%= render "govuk_publishing_components/components/details", {
  title: "If you cannot get your verification code"
} do %>
  <p>If you cannot get your verification code, GDS can reset your 2-step verification. Ask a GOV.UK lead or managing editor in your organisation (or your parent organisation) to submit a support request for you.</p>
  <p>GDS support is available from 9am to 5pm, Monday to Friday.</p>
<% end %>
