<% content_for :title, "2-step verification" %>
<% content_for :suppress_navbar_items, true %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-one-half">
    <%= form_tag(two_step_verification_session_path, method: :post) do %>
      <%= two_factor_code_input(autofocus: true, tabindex: 0) %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Sign in"
      } %>
    <% end %>
  </div>
</div>

<%= render "govuk_publishing_components/components/details", {
  title: "If you’re having problems"
} do %>
  <p>If you’re having problems with 2-step verification, ask an admin or managing editor in your organisation to reset your 2-step verification. If you have any other problems, they can also raise a support request for you.</p>
<% end %>
