<h1>Single Sign On Application Permissions for <%= @application.name %></h1>

<div class="well">
  <h3>Permissions</h3>
  <p id="permissions">
    <%= @application.supported_permissions.map{|sp| sp.name}.join(", ") %>
  </p>
  <%= link_to "Add", new_superadmin_application_supported_permission_path , id: "add", class: "btn btn-primary"%>
  <%= link_to "Cancel", edit_superadmin_application_path(@application) , id: "cancel", class: "btn"%>
</div>