  <section>
    <h1>Your Account</h1>

    <ul>
      <li><%= link_to "Change your passphrase", edit_user_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>
  </section>

<% if current_user.is_admin? %>
  <section>
    <h2>Admin</h2>
    <ul>
      <li><%= link_to "Administer users", admin_users_path %></li>
    </ul>
  </section>
<% end %>

<%- unless current_user.authorisations.empty? %>
  <section>
    <h3>Authorised Applications</h3>
    <ul>
    <%- current_user.authorisations.each do |authorisation| -%>
      <li><%= authorisation.application.name %></li>
    <%- end -%>
    </ul>
  </section>
<%- end -%>
