<% content_for :title, signin_required_title(@application) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% unless gds_only_application_and_non_gds_user?(@application) %>
      <p class="govuk-body">
        <% if current_user.belongs_to_gds? %>
          Ask your delivery manager if you need access.
        <% else %>
          Ask your organisation’s main GOV.UK contact if you need access.
        <% end %>
      </p>
      <p class="govuk-body">If you think something is wrong, try <%= link_to "signing out", destroy_user_session_path %> and then
        <%- if @application.present? -%>
          <%= link_to 'back in', @application.home_uri -%>
        <%- else -%>
          back in
        <%- end %>.
      </p>
    <% end %>

    </div>
</div>
