<% content_for :title, "Sorry, you don't have permission to access " + application_name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Please contact your Delivery Manager or main GDS contact if you need access.</p>

    <p class="govuk-body">If you think something is wrong, try <%= link_to "signing out", destroy_user_session_path %> and then
      <%- if @application.present? -%>
        <%= link_to 'back in', @application.home_uri -%>
      <%- else -%>
        back in
      <%- end %>.</p>

  </div>
</div>
