@import "accessible-autocomplete/dist/accessible-autocomplete.min";

// re: `z-index` on `.autocomplete__wrapper`
// The styles for the dropdown arrow set the z-index to -1, which place it
// behind the autocomplete. Setting the `z-index` on the wrapper seems to fix
// this. See: https://github.com/alphagov/accessible-autocomplete/issues/351#issuecomment-582935867

.autocomplete__wrapper {
  z-index: 0;
}

// the autocomplete does not set a font, this only effects the autocomplete
// items, so we set it here
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  @include govuk-font($size: 19);
}

.autocomplete__option {
  min-height: 1rem;

  @media (min-width: 40.0625em) {
    min-height: 1.1875rem;
  }
}
