.app-c-contact-details {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  padding-left: govuk-spacing(3);
  // Margin top intended to collapse
  // This adds an additional 10px to the paragraph above
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");

  clear: both;

  border-left: 1px solid $govuk-border-colour;
}
