@import "govuk_publishing_components/individual_component_support";
@import "govuk/components/table/table";

$table-border-width: 1px;
$table-border-colour: govuk-colour("mid-grey");
$table-header-border-width: 2px;
$table-header-background-colour: govuk-colour("light-grey");
$vertical-row-bottom-border-width: 3px;
$vertical-on-smallscreen-breakpoint: 940px;
$sort-link-active-colour: govuk-colour("white");
$sort-link-arrow-size: 14px;
$sort-link-arrow-size-small: 8px;
$sort-link-arrow-spacing: calc($sort-link-arrow-size / 2);
$table-row-hover-background-colour: rgba(43, 140, 196, .2);
$table-row-even-background-colour: govuk-colour("light-grey");

/* stylelint-disable */
.govuk-table__cell:empty,
.govuk-table__cell--empty {
  color: $govuk-secondary-text-colour;
}

.govuk-table--sortable {
  outline: $table-border-width solid $table-border-colour;
  outline-offset: 0;

  .govuk-table__header {
    padding: govuk-spacing(2);
    border-right: $table-header-border-width solid govuk-colour("white");
    border-bottom: $table-header-border-width solid govuk-colour("white");
    background: $table-header-background-colour;
    font-weight: normal;

    &:last-child {
      border-right: 0;
    }

    .app-table__sort-link {
      position: relative;
      padding-right: $sort-link-arrow-size;
      color: $govuk-link-colour;
      text-decoration: none;
      @include govuk-link-style-no-visited-state;
    }

    .app-table__sort-link:focus {
      @include govuk-focused-text;
    }

    .app-table__sort-link:after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      @include govuk-shape-arrow($direction: up, $base: $sort-link-arrow-size-small, $display: block);
    }

    .app-table__sort-link:before {
      content: "";
      position: absolute;
      top: 13px;
      right: 0;
      @include govuk-shape-arrow($direction: down, $base: $sort-link-arrow-size-small, $display: block);
    }
  }

  .govuk-table__header--active {
    color: $sort-link-active-colour;
    background: $govuk-link-colour;

    .app-table__sort-link {
      padding-right: govuk-spacing(4);

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: $sort-link-active-colour;
      }

      &:focus {
        color: $govuk-focus-text-colour;
      }
    }

    .app-table__sort-link--ascending:before,
    .app-table__sort-link--descending:before {
      content: none;
    }

    .app-table__sort-link--ascending:after {
      content: "";
      position: absolute;
      top: $sort-link-arrow-spacing;
      right: 0;
      margin-left: govuk-spacing(1);

      @include govuk-shape-arrow($direction: up, $base: $sort-link-arrow-size, $display: inline-block);
    }

    .app-table__sort-link--descending:after {
      content: "";
      position: absolute;
      top: $sort-link-arrow-spacing;
      right: 0;
      margin-left: govuk-spacing(1);

      @include govuk-shape-arrow($direction: down, $base: $sort-link-arrow-size, $display: inline-block);
    }
  }

  .govuk-table__row {
    &:hover {
      background-color: $table-row-hover-background-colour;
    }

    &:nth-child(even) {
      background-color: $table-row-even-background-colour;

      &:hover {
        background-color: $table-row-hover-background-colour;
      }
    }
  }

  .govuk-table__cell {
    padding: govuk-spacing(2);
    border: 0;
  }
}
/* stylelint-enable */

.app-c-table {
  .govuk-table__cell {
    word-break: break-word;
  }
}

.app-c-table--vertical {
  .govuk-table__head {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  .govuk-table__body .govuk-table__row {
    display: block;
  }

  .govuk-table__cell {
    display: flex;
    min-width: 1px;
    text-align: left;
  }

  @include govuk-media-query($until: $vertical-on-smallscreen-breakpoint) {
    .govuk-table__cell {
      padding-right: 0;
    }

    .govuk-table__cell:last-child {
      border-bottom: 0
    }

    .govuk-table__body .govuk-table__row {
      border-bottom: $vertical-row-bottom-border-width solid $table-border-colour;
    }
  }

  .app-c-table__duplicate-heading {
    font-weight: 700;
    padding-right: 1em;
    text-align: left;
    word-break: initial;

    &--visually-hidden {
      padding-right: 0;
    }
  }

  @include govuk-media-query($from: $vertical-on-smallscreen-breakpoint) {
    .govuk-table__head {
      clip: auto;
      -webkit-clip-path: none;
      clip-path: none;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }

    .govuk-table__body .govuk-table__row {
      display: table-row;
    }

    .govuk-table__cell {
      display: table-cell;
      text-align: left;
    }

    .app-c-table__duplicate-heading {
      display: none;
    }
  }
}
