// stylelint-disable selector-no-qualifying-type -- There are a large number
// of violations of this rule in this file that should be fixed.

.filters .panel-heading {
  background: transparent;
}

a.filter-option,
a.filter-option:visited,
.filter-option {
  color: inherit !important; // stylelint-disable-line declaration-no-important

  .glyphicon {
    @extend %glyphicon-smaller-than-text;
  }

  &.filter-selected {
    font-weight: bold;
    background: #eeeeee;

    &:hover,
    &:focus,
    &:active {
      background: #dddddd;
    }
  }

  .selected-and-available & {
    float: left;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:first-child + .filter-option {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 1px solid #dddddd;
    }
  }
}

.remove-filters {
  float: right;
  margin: 5px;
}

.filter-by-name-field {
  width: 290px;
}

// Nav compact

.nav-compact > li > a {
  padding: 5px 10px;
}

// Nav pills

.nav-pill-text {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-compact .nav-pill-text {
  padding: 5px 10px;
}

.nav-compact .nav-pill-text:first-child {
  padding-left: 0;
}

// Dropdown filter for Organisation & Permission

.filter-by-organisation-menu,
.filter-by-permission-menu {
  .dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
  }

  abbr {
    cursor: pointer;
  }
}

// List filter

.list-filter {
  background: #eeeeee;
  padding: 10px $default-horizontal-margin;
  margin-top: -5px;
  margin-bottom: $default-vertical-margin / 2;
  border-radius: $border-radius-base $border-radius-base 0 0;
  border-bottom: 1px solid $dropdown-border;
}
