// TODO: move into component
.gem-c-success-alert,
.gem-c-error-alert {
  margin: 0 0 30px 0;
}

.gem-c-success-alert__message,
.gem-c-error-alert__message {
  margin: 0;
}

.app-application-list__item {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.app-dashboard-side {
  border-top: 2px solid #005ea5;
  padding-top: 20px;
}
