.pagination li.current, .pagination li.gap,
    .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 12px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #DDD;
  border-left-width: 0;
}
.pagination li.current,
    .pagination span.current { 
  background: #D1D1D1; 
}
.pagination li a,
    .pagination span a {
  padding: 0 12px;  
}
.pagination li:first-child, .pagination li:first-child a,
    .pagination span:first-child, .pagination span:first-child a {
  border-left-width: 1px;

}
