#password-confirmation-guidance {
  display: none;
}

#password-result-span,
#password-confirmation-result-span {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #ddd;
}

.js #password-guidance {
  display: none;
}

.js .not-strong-enough #password-guidance,
.js .not-strong-enough #password-entropy,
.js .password-too-short #password-guidance,
.js .password-too-short #password-too-short,
.js .parts-of-email #password-guidance,
.js .parts-of-email #parts-of-email,
.js .confirmation-not-matching #password-confirmation-guidance {
  display: block;
}

.js .not-strong-enough #password-result-span,
.js .password-too-short #password-result-span,
.js .parts-of-email #password-result-span,
.js .confirmation-not-matching #password-confirmation-result-span {
  background-color: #ffdddd;
  color: $text-color;
}

.js .good-password #password-result-span,
.js .good-password #password-confirmation-result-span.confirmation-matching {
  background-color: #ddffdd;
  color: $text-color;
}

.js #password-entropy,
.js #password-too-short,
.js #parts-of-email {
  display: none;
}

// IE7 fixes
// * Render Bootstrap 3 add-on at same size as text input
// * Push add-on to baseline for correct alignment
.lte-ie7 #password-result-span,
.lte-ie7 #password-confirmation-result-span {
  height: 22px;
  display: block;
  vertical-align: baseline;
  border-left-width: 0;

  // IE7 glyphicons don't update dynamically because of the
  // content hack. Instead hide the "ok" so there's a visual
  // difference (more than red/green) between good and bad
  .glyphicon-remove {
    visibility: hidden;
  }
}
