<% if params[:filter].present? %>
  <%= paginate(@users, theme: 'twitter-bootstrap-3') %>
<% else %>
  <h3 class="remove-bottom-margin">Users by initial</h4>
  <div>
    <%= alphabetical_paginate(@sorting_params) %>
  </div>
<% end %>
