<% position ||= nil %>
<% if any_filter? %>
  <% if position == 'top' %>
    <h2 class="<%= @users.total_count > 100 ? 'remove' : 'add' %>-bottom-margin"><%= pluralize(number_with_delimiter(@users.total_count), 'user') %></h2>
  <% end %>
  <%= paginate(@users, theme: 'twitter-bootstrap-3') %>
<% else %>
  <h3 class="remove-bottom-margin">Users by initial</h3>
  <%= alphabetical_paginate(@sorting_params) %>
<% end %>
