<% if any_filter? %>
  <%= paginate(@users, theme: 'twitter-bootstrap-3') %>
<% else %>
  <h3 class="remove-bottom-margin">Users by initial</h3>
  <%= alphabetical_paginate(@sorting_params) %>
<% end %>
