<% content_for :title_caption, "Manage other users" %>
<% content_for :title, "#{@user.name}'s permissions for #{@application.name}" %>

<% content_for :breadcrumbs,
   render("govuk_publishing_components/components/breadcrumbs", {
     collapse_on_mobile: true,
     breadcrumbs: [
       {
         title: "Dashboard",
         url: root_path,
       },
       {
         title: "Users",
         url: users_path,
       },
       {
         title: @user.name,
         url: edit_user_path(@user),
       },
       {
         title: "#{@user.name}'s applications",
         url: user_applications_path(@user),
       }
     ]
   })
%>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">Name</th>
      <th scope="col" class="govuk-table__header">Has this permission?</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @permissions.each do |permission| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= permission.name %></td>
        <td class="govuk-table__cell">
          <% if @user.has_permission?(permission) %>
            <strong class="govuk-tag govuk-tag--green">
              Yes
            </strong>
          <% else %>
            <strong class="govuk-tag govuk-tag--grey">
              No
            </strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
